body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    /*##### Header #####*/
header{
    width: 100%;
    position: sticky;
    top: 0;
    right: 0;
    background-color: black;
}
nav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(5, 5, 11, 0.968);

}
.search{
    width: 35%;
    display: flex;
    border: 2px solid lightgray;
    border-radius: 7px;

}
nav input[type="search"]{
    width: 350px;
    width: 90%;
    height: 40px;
    padding:0px 30px;
    font-size: 16px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
    border: 1px solid transparent;

}

input[type="search"]:focus{
    outline: none;

}
label{
    background-color: #ffcd00;
    background-color:#dfb304;
    padding: 11px 15px 6px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    cursor: pointer;

}
.imgs{
    display: flex;
    gap: 20px;
    cursor: pointer;
    border: 1px solid transparent;

}
/* ##### home ##### */
#home{
    padding: 0px 20px;
    margin-top: 20px;
    /* height: 270px; */
    display: flex;
    justify-content: space-around;
}
.catagories{
    width: 20%;
    border-radius: 5px;
    box-shadow: 0px 0px 3px gray;
}
.catagories h3{
    font-size: 25px;
    padding: 3px 0px 7px ;
    text-align: center;
    margin: 20px 0px;
    box-shadow: 0px 0px 2px rgb(6, 5, 5);
    background-color: #ecbe05;
}
.catagories ul{
    font-size: 17px;
    list-style-type: none;

}

.catagories ul a{
    text-decoration: none;
    color: black;
    line-height: 38px;
    font-weight: 400;
    margin-left: -15px;

}
.home-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    font-size: 18px;
    text-align: center;
    color: #dfb304;
    border-radius: 5px;
    background-image: linear-gradient(rgba(70, 69, 69, 0.5),rgba(70, 69, 69, 0.5)),url(./images/bg-img3.jpeg);
    /* background-image: linear-gradient(rgba(114, 114, 114, 0.5),rgba(96, 95, 95, 0.5)),url(./images/bg-img3.jpeg); */
    
    background-size: cover;
    background-position: center;
    border: 5px solid rgb(59, 59, 59);
}
.home-text{
    display: flex;
    align-items: center;
    padding:0px 0px;
    color: white;
    color: #dfb304;
    font-size: 18px;
    text-align: center;
}


